body {
  background-color: black;
}

@font-face {
  font-family: SFDistantGalaxy;
  src: url(./asset/SFDistantGalaxy.ttf);
}

/*----------------------------------------------------*/
.container {
  display: flex;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}

.box {
  flex: 1;
  overflow: hidden;
  margin: 5px;
  line-height: 0;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  transition: all 300ms;
}

.box > img {
  width: 200%;
  height: 200%;
  object-fit: cover;
  transition: all 300ms;
}

.box:hover {
  flex: 50%;
}

.box:hover > img {
  width: 100%;
  height: 100%;
}

.logo-container {
  background-image: url(./asset/Ep1r.gif);
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  letter-spacing: 1px;
}

/*----------------------------------------------------*/
.nav {
  margin-top: 20px;
}
.nav_li-home {
  background: black;
  height: 60px;
  padding: 10px;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 20px #00ff28;
  overflow: hidden;
  padding: 0%;
  color: #ffff00;
  font-family: SFDistantGalaxy;
  border-radius: 20px;
}

.nav_li-home:hover {
  background: #00ff28;
  box-shadow: 1px 1px 40px #00ff28;
}
.nav_li-character {
  background: black;
  height: 60px;
  padding: 10px;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 20px #0028ff;
  overflow: hidden;
  padding: 0%;
  color: #ffff00;
  font-family: SFDistantGalaxy;
  border-radius: 20px;
}

.nav_li-character:hover {
  background: #0028ff;
  box-shadow: 1px 1px 40px #0028ff;
}

.nav_li-movies {
  background: black;
  height: 60px;
  padding: 10px;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 20px #ff0000;
  overflow: hidden;
  padding: 0%;
  color: #ffff00;
  font-family: SFDistantGalaxy;
  border-radius: 20px;
}

.nav_li-movies:hover {
  background: #ff0000;
  box-shadow: 1px 1px 40px #ff0000;
}

/*----------------------------------------------------*/

@media only screen and (max-width: 770px) {
}

@media only screen and (max-width: 550px) {
  .container {
    display: none;
  }
}
